#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redPiece{
    fill: red;
}
.yellowPiece{
    fill: yellow;
}
#msg {
    margin: 10px 0;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
}
